<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>tr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>slogin</servlet-name>
    <servlet-class>servlet.SLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>slogin</servlet-name>
    <url-pattern>/SLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sign</servlet-name>
    <servlet-class>servlet.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alogin</servlet-name>
    <servlet-class>servlet.ALoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alogin</servlet-name>
    <url-pattern>/ALoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>asign</servlet-name>
    <servlet-class>servlet.ASignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asign</servlet-name>
    <url-pattern>/ASignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eselect</servlet-name>
    <servlet-class>servlet.ESelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eselect</servlet-name>
    <url-pattern>/ESelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>equipborrow</servlet-name>
    <servlet-class>servlet.BorrowCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>equipborrow</servlet-name>
    <url-pattern>/BorrowCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>equipreturn</servlet-name>
    <servlet-class>servlet.BorrowDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>equipreturn</servlet-name>
    <url-pattern>/BorrowDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addequip</servlet-name>
    <servlet-class>servlet.EquipAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addequip</servlet-name>
    <url-pattern>/EquipAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteequip</servlet-name>
    <servlet-class>servlet.EquipDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteequip</servlet-name>
    <url-pattern>/EquipDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectuser</servlet-name>
    <servlet-class>servlet.UserSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectuser</servlet-name>
    <url-pattern>/UserSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addrepair</servlet-name>
    <servlet-class>servlet.RepairAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addrepair</servlet-name>
    <url-pattern>/RepairAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectrepair</servlet-name>
    <servlet-class>servlet.RepairSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectrepair</servlet-name>
    <url-pattern>/RepairSelectServlet</url-pattern>
  </servlet-mapping>
</web-app>